<%= render 'longer_featured' %>

<div class="row mb-2">
  <%= render 'medium_featured' %>
  <%= render 'medium_featured' %>
</div>

<div class="row g-5">
  <div class="col-md-8">
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
      From the Firehose
    </h3>

    <p>
      <%= link_to "New Article", new_article_path,
                  { class: 'btn btn-success',
                    'data-bs-toggle':'tooltip',
                    'data-bs-placement': 'top',
                    'data-bs-title': 'New Article'
                  } %>
    </p>

<!--    Este código serve para que não precisemos utilizar o each nos articles. Ele renderiza para cada -->
<!--    elemento contido na variável @articles a sua devida partials que no caso é a _article.html.erb-->
    <%= render @articles %>
    <%= render 'pagination' %>
  </div>
</div>